body {
  font-family: "Montserrat";
  background: #222222;
  color: #fff;
  font-size: 80%;
}

label {
  white-space: nowrap;
}

label.btn-outline-secondary {
  margin-bottom: 0;
}

hr {
  border-color: #781878;
}

.container {
  /* background: rgb(41, 41, 41); */
  background: rgb(50, 50, 50);
  height: 100vh;
  margin-top: 2rem;
  border-radius: 4px;
}

.form-content {
  padding-top: 1rem;
  background: rgb(50, 50, 50);
  height: 100vh;
  margin-top: 2rem;
  border-radius: 4px;
}

.btn-outline-secondary {

  background: #2d2d2d;
  border-color: #730973;
  /* border-color: #a50ba5; */
  color: inherit;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.btn-outline-secondary:not([disabled]):not(.disabled).active {
  border-color: #730973;
  /* border-color: #a50ba5; */
  /* background: rgba(232, 82, 232, 0.3); */
  background: rgba(138, 16, 138, 0.3);
  box-shadow: none;
}

.form-control {
  background: #2d2d2d;
  /* border: 1px solid #a50ba5; */
  border: 1px solid #730973;
  color: #fff;
}

.form-control:focus {
  color: #fff;
  background: #2d2d2d;
  /* border-color: #a50ba5; */
  border-color: #730973;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(232, 82, 232, .25);
}
